.obsidian-callout {
  line-height: 1em;
  padding: 0.6em;
  padding-left: 1.35em;
  padding-right: 1.35em;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.obsidian-callout-icon {
  width: 1em;
  height: 1em;
  line-height: 1.35em;
  margin-right: 1em;
}

.obsidian-callout-title {
  line-height: 1.35em;
  position: relative;
  top: 0em;
  font-size: 0.89em;
  font-weight: 600;
  display: inline-block;
}

.obsidian-callout-content {
  vertical-align: middle;
  padding-top: 0px;
}

.collapsable {
  vertical-align: middle;
  opacity: 0;
  padding-top: 0px;
  max-height: 0;
  overflow: hidden;
  transition: padding 0.3s ease, max-height 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}