#sidebar {
  width: 250px;
  height: 100vh;
  padding-left: 10px;
  top: 0px;
  z-index: 99999;
  position: fixed;
  border-top-right-radius: 10px;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease, max-width 0.3s ease, opacity 0.3s ease-in-out, visibility 0.3s step-end;
}

#sidebar::before {
  content: '';
  background-color: #ccc;
  position: absolute;
  right: 0px;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}