services:

  safeLearn:
    image: ${DOCKER_HUB_USER}/${DOCKER_IMAGE_NAME}:latest
    container_name: safeLearn
    restart: unless-stopped
    ports:
      - "${WEBSERVER_PORT}:${INTERNAL_PORT}"
    environment:
      - TZ=Europe/Vienna
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro